body{
    margin: 0;

    background-color: rgb(87, 97, 106);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.board{
    display: grid;
    border: 3px solid white;
    height: fit-content;
    width: 10rem;
    grid-template-columns: 7fr;
}



.hidden{
    visibility: hidden;
    height: 0px;
    padding: 0px;
}

h2 {
    color: white;
}

form {
    opacity: 0.3;

    position: fixed;
    bottom: 0;
    left: 0;
    background-color: grey;
    padding: 2rem;
    border-radius: 5%;
    transition: opacity 0.15s;
}

form:hover {
    opacity: 1;
    cursor: pointer;
}



button:hover {
    cursor: pointer;
}

label {
    color: white;
}

#formSubmit{
    width: fit;
}

.form-container {
    gap: 1rem;
    background-color: grey;
    padding: 2rem;
}

body, form, .form-container,.text-input-compartment,.other-input-compartment{
    display: flex;
}

form, .text-input-compartment,.other-input-compartment{
    flex-direction: column;
    gap: 5px;
}

::placeholder{
    opacity: 0.4;
}

.element {
    height: 30px;
    width: 30px;
    background-color: pink;
    display: flex;
}

.element:nth-child(2n) {
    filter: brightness(0.9);
}

#toggleForm{
    display: flex;
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    right: 5%;
    scale: 2;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .form-container{
        flex-direction: column;
        padding: 10px;
    }

    .form{
        padding: 10px;
        bottom: 0;
    }
    
}