body{
    margin: 0;
    height: 100vh;
    background-color: rgb(87, 97, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board{
    border: 3px solid white;
    height: 10rem;
    width: 10rem;
}

form {

    background-color: grey;
    padding: 2rem;
}

button:hover {
    cursor: pointer;
}

label {
    color: white;
}

#formSubmit{
    width: fit;
}

.form-container {
    gap: 1rem;
        background-color: grey;
    padding: 2rem;
}

form, .form-container,.text-input-compartment,.other-input-compartment {
    display: flex;
}

form, .text-input-compartment,.other-input-compartment{
    flex-direction: column;
    gap: 5px;
}

::placeholder{
    opacity: 0.4;
}